@import './base.css';

#app {
  margin: 0;
  font-weight: normal;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  background:
    radial-gradient(circle at 35% 30%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0) 30%) center,
    radial-gradient(circle at 110% 100%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0) 30%) center;
  background-color: var(--vt-c-black);
  z-index: -1;
}

a {
  text-decoration: none;
  color: var(--vt-c-white-soft);
  transition: 0.4s;
  padding: 15px;
}

a:hover {
  color: var(--red);
}

h1 {
  font-size: 64px;
  padding: 0 20px 0 20px;
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
